# Основные зависимости
fastapi
uvicorn
websockets
PyQt5
SQLAlchemy
passlib
python-jose
python-multipart
requests
pyinstaller
plyer
pygame
win10toast
python-dateutil
pytz
pycryptodome
qrcode
Pillow
black
flake8
pytest